<%- include("../admin/layouts/adminheader") %>
<style>

.black{
    color: black;
}

</style>

<div class="content-header ms-3 mt-3">
   
    <div>
        <a href="/admin/addProductOffer" class="btn btn-primary btn-sm rounded">Add New Offer</a>
    </div>
   
</div>


<article class="itemlist">
    <div class="row align-items-center ms-5 mt-4">
        
        <h3 class="mb-3">All Offers</h3>
        
        
        
        <div class="col-lg-2 col-sm-2 col-4 col-price black">Offer Name</div>
        <div class="col-lg-2 col-sm-2 col-4 col-price black">Starting Date</div>
        <div class="col-lg-2 col-sm-2 col-4 col-price black">Expery Date</div>
        <div class="col-lg-2 col-sm-2 col-4 col-status black">
            <span>Offer</span>
        </div>
        <div class="col-lg-1 col-sm-2 col-4 col-date black">
            <span>Status</span>
        </div>
    </div>
    <!-- row .// -->
</article>

<br>
<% const options = { year: 'numeric', month: 'long', day: 'numeric' }; %>

<% var now = Date.now() %>


<% if(offers){ 


    for(let i=0;i<offers.length;i++){
    %>

    <% if( offers[i].startingDate < now && offers[i].expiryDate > now && offers[i].status ) { var active = "Active" } else if(offers[i].startingDate > now && offers[i].status ) { var active = "Upcoming" } else if (offers[i].expiryDate < now && offers[i].status ) { var active = "Expired" } %>
<article class="itemlist">
    <div class="row align-items-center ms-5">
        
        <div class="col-lg-2 col-sm-2 col-4 col-price"><%= offers[i].name %></div>
        <div class="col-lg-2 col-sm-2 col-4 col-price"><%=offers[i].startingDate.toLocaleDateString('en-US', options)%></div>
        <div class="col-lg-2 col-sm-2 col-4 col-price"><%=offers[i].expiryDate.toLocaleDateString('en-US', options)%></div>
        <div class="col-lg-2 col-sm-2 col-4 col-status">
            <span><%= offers[i].percentage %>%</span>
        </div>
        <div class="col-lg-1 col-sm-2 col-4 col-date">
            <span><%= active %></span>

        </div>
    </div>
</article>
<br>
<% }} %>




<%- include("../admin/layouts/adminfooter") %>
